/*** BASE STYLES ***/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: 100%;
  background: #f8f8f8;
  color: #666;
  font-family: 'Raleway', sans-serif;
}
